<form class="px-5 py-5">
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Enter text to encrypt</label>
    <textarea class="form-control" #encryptTextArea rows="3"></textarea>
  </div>
  <button type="button" class="btn btn-primary btn-lg" (click)="onClickEncryptButton(encryptTextArea.value)">Encrypt</button>
</form>

<form class="px-5 py-5">
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Enter text to decrypt</label>
    <textarea class="form-control" #decryptTextArea rows="3"></textarea>
  </div>
  <button type="button" class="btn btn-primary btn-lg" (click)="onClickDecryptButton(decryptTextArea.value)">Decrypt</button>
</form>